configuration {
  modes: "window,drun,run,ssh";
  font: "JetBrainsMono NF 13";
  drun-display-format: "{name}";
}

@import "matugen-colors.rasi"

window {
  fullscreen: true;
  padding: 35% 30%;
  transparency: "real";
  background-color: @bgt;
  border-color: @t;
  border-radius: 4px;
}

listview {
  border: 0 0 0 0;
  padding: 23 0 0;
  scrollbar: true;
}

scrollbar {
  width: 4px;
  border: 0;
  handle-color: @fg;
  handle-width: 8px;
  padding: 0 5;
}

entry {
  placeholder: "Search...";
  text-color: @fg;
}

textbox {
  text-color: @fg;
}

element {
  border: 0;
  padding: 2px;
}
element.normal.normal {
  background-color: @t;
  text-color: @fg;
}
element.normal.urgent {
  background-color: @t;
  text-color: @urgent;
}
element.normal.active {
  background-color: @t;
  text-color: @active;
}
element.selected.normal {
  background-color: @selected-bg;
  border-radius: 4px;
  text-color: @selected-fg;
}
element.selected.urgent {
  background-color: @selected-bg;
  border-radius: 4px;
  text-color: @urgent;
}
element.selected.active {
  background-color: @selected-bg;
  border-radius: 4px;
  text-color: @selected-fg;
}
element.alternate.normal {
  background-color: @t;
  text-color: @fg;
}
element.alternate.urgent {
  background-color: @t;
  text-color: @urgent;
}
element.alternate.active {
  background-color: @t;
  text-color: @active;
}

sidebar {
  border: 2px 0 0;
  border-color: @fg;
}

inputbar {
  spacing: 0;
  text-color: @fg;
  padding: 2px;
  children: [ entry ];
}

case-indicator,
prompt,
button {
  spacing: 0;
  text-color: @fg;
}

button.selected {
  background-color: @bg;
  text-color: @fg;
}

textbox-prompt-sep {
  expand: false;
  str: "";
  text-color: @fg;
  margin: 0;
}

